nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
}

h1 {
    color: #333;
}

main {
    max-width: 840px;
    margin: 0 auto;
}

main img {
    width: 200px;
    height: auto;
    border: 2px solid #333;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

p {
    padding: 0;
}

aside {
    width: 300px;
    margin: 20px;
    border: 2px solid #333;
    padding: 15px;
    background-color: #f0f8ff;
    color: #333;
}

aside img {
    width: 200px;
    height: auto;
    border: none;
    padding: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

footer {
    margin-top: 30px;
    border-top: 2px solid #333;
    text-align: center;
    padding-top: 10px;
}
